GO
ALTER PROCEDURE [dbo].[SP_ActualiceElEstadoDeFacturaCancelada]
@CodigoFactura INT,
@Estado VARCHAR(1)
AS
BEGIN
	UPDATE FacturaEncabezado
	SET 
    FacturaEncabezado.estado=@Estado
	WHERE codigoFactura = @CodigoFactura 
END;
